<div class="row">
  <div class="col-md-12" style="margin-top: 15px; margin-bottom: 15px;">
    <%= link_to root_path do %>
      <button class="btn btn-info">Home</button>
    <% end %>
  </div>
</div>

<div>
  <%= simple_form_for @customer do |f| %>
    <%= f.input :csv, label: 'CSV', as: :file %>
    <%= f.button :submit, "Submit",  class: "btn btn-success" %>
  <% end %>
</div>
